<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			To Do List
		</div>
	</div>
	<div class="panel-body">
		<form action="/Task/New" method="Post">
			<div class="row form-group">
				<div class="col-lg-2">
					Task
				</div>

				<div class="col-lg-8">
					<input type="text" name="Name" class="form-control"/>
				</div>
				<div class="col-lg-2">
					<input type="submit" class="btn btn-primary" value="Add" />
				</div>
			</div>
		</div>

		<table id="tasks" class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Tasks }}
					<tr>
						<td>{{ .Name }}</td>
						<td>{{ .SomeLand }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		//$("#tasks").DataTable();
	</script>
</div>