<div class="center">
	<div class="loginTitle">To Do List Login</div>
	<form action="/login" method="POST">
		<div class="inputs">
			<i class="fa fa-user"></i>
			<input type="text" name="UserName" />
			
		</div>

		<div class="inputs">
			<i class="fa fa-key"></i>
			<input type="password" name="Password" />
		</div>

		<div class="inputs">
			<input type="submit" class="btn btn-primary" value="Login" />
		</div>
	</form>
</div>